
@font-face {
    font-family: myFirstFont;
    src: url(BBHSansBartle-Regular.ttf);
}
@font-face {
    font-family: Bitcount;
    src: url(BitcountGridSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf);
}
.fade-in {
    opacity: 0;
    transform: scale(0.98);
    animation: fadeIn 1s ease-out forwards;
}

.fade-out {
    opacity: 1;
    transform: scale(1);
    animation: fadeOut 1s ease-in forwards;
}


@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(0.98);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


body {
    background-color: rgb(94, 3, 3);
    background-image: radial-gradient(circle, red, black);
}

.title {
    color: white;
    text-align: center;
    font-family: myFirstFont;
    font-size: 90px;
}
.subtext {
    color: white;
    text-align: center;
    padding-right: 30%;
    position: relative;
    top: -10px;
    font-family: Bitcount;
    font-size: 25px;
}

.mainsearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 50%;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: black;
    padding-left: 15px;
    transition: border 0.3s;
}

.mainsearch:hover {
    border: 4px solid white;
}

.mainsearch input {
    width: 90%;
    height: 70%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: Bitcount;
}

.mainsearch input::placeholder {
    color: gray;
    opacity: 0.7;
}

.mainsearch button {
    background-color: black;
    color: white;
    width: 45px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 4px;
    font-family: Bitcount;
    font-size: 20px;
    margin-right: 15px;
    transition: border 0.3s;
}
.mainsearch button:hover {
    background-color: white;
    color: black;
    border: 4px;
}

.nameEle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Bitcount;
    font-size: 25px;
    transform: translateY(30%);
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.result {
    
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: auto;
    font-family: Bitcount;
    color: rgb(255, 255, 255);
    background: black;

    --p1: 25%;
    --p2: 75%;
    background-image:
        linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 200%),
        linear-gradient(to right, white, 0.5%, blue var(--p1), grey var(--p2), red, 99.5%, white);
    
    background-size: 100% 100%, 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 50%;
    text-indent: 3%;
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}
.result:hover {
    border: 4px solid #ffffff;
}

.barwins{
    font-family: Bitcount;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 0%;
    background: none;
    border-radius: 4px;
    color: white;
    width: 50%;
    height: 20px;
    border: 1px solid #ffffff;
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.barwins:hover {
    border: 4px solid #ffffff;
}

.bartext {
    margin-top: 0%;
    font-family: Bitcount;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.barwinside{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
    display: flex;
    height: 100%;
    background-image: linear-gradient(to left, blue, rgb(77, 77, 255));
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}
.barloseside{
    align-items: center;
    justify-content: center;
    margin: auto;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    height: 100%;
    background-image: linear-gradient(to right, red, rgb(255, 77, 77));
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.bardrawside{
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    background: rgb(108, 108, 108);
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.barwinside,
.bardrawside,
.barloseside {
    transition: width 0.3s ease-in-out;
}

.suggestions {
    padding: 2rem;
    gap: 2rem;
    font-family: Bitcount;
    color: white;
    display: flex;
    align-items: top;
    text-align: left;
    flex-direction: column;
    margin: auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 4px;
    --p3: 50%;
    background-image: linear-gradient(to right, grey, var(--p3), rgb(128,128,205));
    transition: border 0.3s;
}

.suggestions:hover {
    border: 4px solid white;
}

.suggestions tr {
    display: flex;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.suggestions button {
    flex-direction: column;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    transition: font-size 0.3s;
}

.suggestions button:hover {
    font-size: 20px;
}

@media (max-width: 768px) {
    .result,
    .barwins,
    .suggestions,
    .mainsearch {
        width: 90%;
    }

    .title {
        font-size: 30px;
    }
    .nameEle {
        font-size: 20px;
    }

}