
@font-face {
    font-family: myFirstFont;
    src: url(BBHSansBartle-Regular.ttf);
}
@font-face {
    font-family: Bitcount;
    src: url(BitcountGridSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf);
}
.fade-in {
    opacity: 0;
    transform: scale(0.98);
    animation: fadeIn 1s ease-out forwards;
}

.fade-out {
    opacity: 1;
    transform: scale(1);
    animation: fadeOut 0.5s ease-in forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(0.98);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


body {
    background-color: black;
}

.title {
    color: white;
    text-align: center;
    justify-content: center;
    font-family: myFirstFont;
    font-size: 90px;
}
.subtext {
    color: white;
    text-align: center;
    padding-right: 30%;
    position: relative;
    top: -10px;
    font-family: Bitcount;
    font-size: 25px;
}

.mainsearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 50%;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: black;
    padding-left: 15px;
    transition: border 0.3s;
}

.mainsearch:hover {
    border: 4px solid white;
}

.mainsearch input {
    width: 90%;
    height: 70%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: Bitcount;
}

.mainsearch input::placeholder {
    color: gray;
    opacity: 0.7;
}

.mainsearch button {
    background-color: black;
    color: white;
    width: 45px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 4px;
    font-family: Bitcount;
    font-size: 20px;
    margin-right: 15px;
    transition: border 0.3s;
}
.mainsearch button:hover {
    background-color: white;
    color: black;
    border: 4px;
}

.nameEle {
    display: flex;
    color: white;
    font-family: Bitcount;
    font-size: 25px;
    transform: translateY(30%);
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

#arena {
    display: flex;
    flex-direction: row;
}

.fighter-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bargreen {

    padding: 2% 1%;

    --p1: 25%;

    background-image: linear-gradient(
        to right,
        rgb(8, 98, 0) calc(var(--p1) - 1%),
        rgba(8, 98, 0, 0) calc(var(--p1) + 1%)
    );

}

.resultText {
    padding: 2% 1%;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: Bitcount;
    color: rgb(255, 255, 255);
    background: black;
    --p1: 25%;
    --p2: 75%;
    background-image:
        linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 200%),
        linear-gradient(to right, white, 0.5%, blue var(--p1), grey var(--p2), red, 99.5%, white);
    
    background-size: 100% 100%, 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-indent: 3%;
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease, height 300ms ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.result:hover {
    border: 4px solid #ffffff;
}


.barwins{
    font-family: Bitcount;
    display: flex;
    background: none;
    border-radius: 4px;
    color: white;
    height: 20px;
    border: 1px solid #ffffff;
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.barwins:hover {
    border: 4px solid #ffffff;
}

.bartext {
    font-family: Bitcount;
    color: white;
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.barwinside{
    color: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    height: 100%;
    background-image: linear-gradient(to left, blue, rgb(77, 77, 255));
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}
.barloseside{
    color: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    height: 100%;
    background-image: linear-gradient(to right, red, rgb(255, 77, 77));
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.bardrawside{
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    background: rgb(108, 108, 108);
    transition: border 0.3s, width 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    filter: blur(0px);
    opacity: 1;
}

.barwinside,
.bardrawside,
.barloseside {
    transition: width 0.3s ease-in-out;
}

.suggestions {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0rem;
    transition: border 0.3s, max-height 0.8s ease, padding 0.6s ease, opacity 0.7s ease;
    transform-origin: top;

    padding: 0rem;
    gap: 2rem;
    font-family: Bitcount;
    color: white;
    display: flex;
    align-items: top;
    text-align: left;
    flex-direction: column;
    margin: auto;
    width: 40%;
    border: 1px solid white;
    border-radius: 4px;
    --p3: 50%;
    background-image: linear-gradient(to right, grey, var(--p3), rgb(128,128,205));
}


.suggestions.expand {
    max-height: 1000px; /* must be larger than content */
    padding: 2rem;
    opacity: 1;
}

.suggestions.collapse {
    max-height: 0;
    padding: 0rem;
    opacity: 0;
}

.suggestions:hover {
    border: 4px solid white;
}

.suggestions tr {
    display: flex;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.suggestion-row {
    display: flex;
    align-items: center;
}

.suggestion-row button:first-child {
    flex-grow: 1;
    text-align: left;
    
}

.suggestions button.compare {
    margin-left: 1rem;
}


.suggestions button {
    flex-direction: column;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    transition: font-size 0.3s;
    
}

.suggestions button:hover {
    font-size: 20px;
}

.suggestions button.compare {
    flex-direction: row;
    background: none;
    border: 2px;
    padding: 0;
    margin: 0;
    font-family: Bitcount;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: right;
    transition: font-size 0.3s;
}

@media (max-width: 850px) {
    .barwins,
    .suggestions,
    .mainsearch {
        width: 90%;
    }
    .title {
        font-size: 30px;
        padding-top: 5%;
    }
    .nameEle {
        font-size: 20px;
    }

}

.fighter-image {
    width: 200px;
    max-width: 90%;
    margin: auto;
    border-radius: 8px;
    display: flex;
    border: 2px solid white;
}

/* empty box to stop website jumping */
.emptybot {
    width: 200px;
    height: 800px;
    background: none;
}